@model OgrenciKayit.Models.Ogrenci

@{
    ViewBag.Title = "Öğrenci Bilgilerini Düzenle";
}

<h2>Düzenle</h2>

@using (Html.BeginForm("Duzenle", "OgrenciKayit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OgrenciNo)

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.OgrenciNo)
        @Html.TextBoxFor(model => model.OgrenciNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OgrenciNo)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Sinif)
        @Html.TextBoxFor(model => model.Sinif, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Sinif)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Isim)
        @Html.TextBoxFor(model => model.Isim, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Isim)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Soyisim)
        @Html.TextBoxFor(model => model.Soyisim, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Soyisim)
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-secondary ms-2" })
}