@model OgrenciKayit.Models.Ogrenci

@{
    ViewBag.Title = "Yeni Öğrenci Ekle";
}

<h2 class="mb-4">Yeni Öğrenci Ekle</h2>

@using (Html.BeginForm("Ekle", "OgrenciKayit", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row g-3", @readonly = "readonly" }))
{
    @Html.AntiForgeryToken()
    <div class="coll-md-6">
        <label class="form-label">Öğrenci Numarası</label>
        @Html.TextBoxFor(m => m.OgrenciNo, new { @class = "form-control" })
    </div>

    <div class="coll-md-6">
        <label class="form-label">Sınıf</label>
        @Html.TextBoxFor(m => m.Sinif, new { @class = "form-control" })
    </div>

    <div class="coll-md-6">
        <label class="form-label">İsim</label>
        @Html.TextBoxFor(m => m.Isim, new { @class = "form-control" })
    </div>

    <div class="coll-md-6">
        <label class="form-label">Soyisim</label>
        @Html.TextBoxFor(m => m.Soyisim, new { @class = "form-control" })
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
}


